@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AquireBold';
  src: url('AquireBold.eot');
  src: url('AquireBold.eot?#iefix') format('embedded-opentype'),
       url('AquireBold.svg#AquireBold') format('svg'),
       url('AquireBold.ttf') format('truetype'),
       url('AquireBold.woff') format('woff'),
       url('AquireBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

