.navigation {
  position: relative;
  width: 413px;
  height: 63px;
  background: var(--bs-gray-700);
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  border-radius: 10px;
  margin: auto;
}

.navigation ul {
  display: flex;
  width: 413px;
  list-style-type: none;
}

.navigation ul li {
  position: relative;
  width: 70px;
  height: 60px;
  z-index: 2;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  transition: 0.5s;
  color: var(--bs-yellow);
}

.navigation ul li.active a .icon {
  transform: translateY(-20px);
  color: var(--bs-blue);
}

.navigation ul li a .text {
  position: absolute;
  background: var(--bs-yellow);
  color: var(--bs-white);
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}

.navigation ul li.active a .text {
  transform: translateY(-4px);
  opacity: 1;
}

.indicator {
  position: absolute;
  top: -55%;
  width: 70px;
  height: 70px;
  background: var(--bs-gray-700);
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}

.indicator::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px var(--bs-gray-700);
}

.indicator::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px var(--bs-gray-700);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

@media (max-width: 858px) {
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: lightblue;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
}

@media (max-width: 858px) {
  a:hover, a.active {
    background: none;
    color: var(--bs-blue);
  }
}

