.spcl-abt {
  display: inline-block;
  float: left;
  margin-bottom: 5px;
  text-align: center;
  font-size: 60px;
  color: #bbbbbb;
}

.spcl-abt:hover {
  color: #9f5ad8;
  transition: color 0.3s ease;
}

